html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.space {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left {
    flex: 0 0 80%; /* Ensure the left div takes 70% of the width */
    height: 100%;
    display: flex;
    align-items: center; /* Center the canvas vertically */
    justify-content: center; /* Center the canvas horizontally */
}

.right {
    flex: 0 0 20%; /* Ensure the right div takes 30% of the width */
    position: fixed; /* Make the right div fixed */
    right: 0; /* Align it to the right */
    top: 0; /* Align it to the top */
    width: 20%; /* Ensure the right div takes 30% of the width */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #f5f5dc; /* Cream background */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for aesthetics */
}

.content-box {
    background-color: #fff; /* White background for content box */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for content box */
}

.content-box a {
    color: #007BFF;
    text-decoration: none;
}

.content-box a:hover {
    text-decoration: underline;
}

.credits {
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #777;
}

.credits h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.credits a {
    color: #007BFF;
    text-decoration: none;
}

.credits a:hover {
    text-decoration: underline;
}

.title {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #333;
}

.content {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #555;
}

#myVidPlayer {
    width: 100%; /* Ensure the video fills the videof container */
    height: 100%; /* Ensure the video fills the videof container */
    object-fit: cover; /* Maintain aspect ratio and cover entire container */
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
